h5py
lpips
matplotlib
monai
nibabel
numba
numpy
#numba==0.55.1
#numpy==1.21.5
opencv_python
Pillow
pydicom
pytorch-lightning
pytorch_msssim
#torchinfo==1.8.0
torchmetrics
PyYAML
setuptools
scikit_image
#scikit_image==0.19.2
scikit_learn
scipy
seaborn
#torchinfo==1.7.2
#torchinfo
tqdm
#xformers==0.0.22.post7
plotly
wandb
#ruff==0.1.2
#black==22.10.1
#monai-generative
#gdown